header{
    background-color: rgba(14, 9, 17, 0.758);
    padding: 20px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color:rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
img{
    top: 284px;
    width:  870px;
    height: 720px;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
  
}
nav{
    position: absolute;
    top: 45px;
    right: -283px;

}
.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
    
}
.produtos li{
    display: inline-block;
    
}