body {
    background-color: rgba(110, 16, 157, 0.708);
        
} 

img {
    position: absolute ;
    top: 287px;
    left: 40%;
    width: 13%;
}

#yuri{
width: 15%;
top: 1200px;
left:28%;
}

