body {
    background-color: rgba(14, 9, 17, 0.758);
        
} 

img {
    position: absolute ;
    top: 287px;
    left: 40%;
    width: 13%;
}

#yuri{
width: 15%;
top: 1200px;
left:28%;
}

